<h1>Hello, <%=first_name%> <%=last_name%> where do you live?</h1>
<form method="post" action="home_address">
<input type="hidden" name="first_name" value="<%=first_name%>">
<input type="hidden" name="last_name" value="<%=last_name%>">
<input type="text" name="address" placeholder="Address" required autofocus>
<br><br>
<input type="text" name="city" placeholder="City" required>
<br><br>
<input type="text" name="state" placeholder="State" required>
<br><br>
<input type="number" name="zip" placeholder="Zip-code" required>
<br><br>
<input class="button" type="submit" value="Submit" onclick>
</form>