
<h1>Welcome <%=first_name%> <%=last_name%>!</h1>
<h1>Please enter your address:</h1>
<form method="post" action="home_address">
<input type="hidden" name="first_name" value="<%=first_name%>">
<input type="hidden" name="last_name" value="<%=last_name%>">
<h3>Address:</h3>
<input type="text" name="address" required autofocus>
<h3>City:</h3>
<input type="text" name="city" required>
<h3>State:</h3>
<input type="text" name="state" required>
<h3>Zip-code:</h3>
<input type="number" name="zip" required>
<br><br>
<input type="submit" value="Submit" onclick>
</form>