<h1>Please enter your name:</h1>
<form method="post" action="name">
<h3>First Name</h3>
<input type="text" name="first_name" autofocus>
<h3>Last Name</h3>
<input type="text" name="last_name">
<br><br>
<input type="submit" value="Submit" onclick>
</form>